.mwe-panoviewer.mw-file-element {
	display: inline-block;
}

.mwe-panoviewer-badge {
	position: absolute;
	pointer-events: none;
	top: 11px;
	left: 11px;
	color: #1e1f21;
	/* stylelint-disable-next-line declaration-property-unit-disallowed-list */
	font-size: 14px;
	/* stylelint-disable-next-line declaration-property-unit-disallowed-list */
	line-height: 19px;
	font-weight: bold;
	opacity: 0.8;
	padding: 2px 5px;
	background-color: #f8f9fa;
	border-radius: 2px;
}
